<span> Published on <%= @article.date %>, by <%= @article.author %></span>
<h1> <%= @article.title %> </h1>

<div>
	<h4> <%= @article.header %> </h4>
	<img src="<%= @article.image %>">
	<p> <%= @article.body %> </p>
</div>